[submodule "admet_pipeline/endpoints/synthesizability/rascore/vendor/RAscore"]
	path = admet_pipeline/endpoints/synthesizability/rascore/vendor/RAscore
	url = https://github.com/reymond-group/RAscore.git
