[submodule "admet_pipeline/endpoints/synthesizability/rascore/vendor/RAscore"]
	path = admet_pipeline/endpoints/synthesizability/rascore/vendor/RAscore
	url = https://github.com/reymond-group/RAscore.git
[submodule "admet_pipeline/endpoints/lipophilicity/qupkake/vendor/qupkake"]
	path = admet_pipeline/endpoints/lipophilicity/qupkake/vendor/qupkake
	url = https://github.com/Shualdon/QupKake.git
[submodule "admet_pipeline/endpoints/lipophilicity/molgpka/vendor/MolGpKa"]
	path = admet_pipeline/endpoints/lipophilicity/molgpka/vendor/MolGpKa
	url = https://github.com/Xundrug/MolGpKa
[submodule "admet_pipeline/endpoints/herg/bayesherg/vendor/bayesherg"]
	path = admet_pipeline/endpoints/herg/bayesherg/vendor/bayesherg
	url = https://github.com/GIST-CSBL/BayeshERG
